@import "~normalize.css";
@import "./toolbar.scss";

*:focus {
  outline: none;
}

body {
  background: #fff9e1;
  background: linear-gradient(
    156deg,
    rgba(255, 249, 225, 1) 0%,
    rgba(241, 231, 191, 1) 100%
  );
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: monospace;
}

sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}

.main {
  width: 1184px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &__heading {
    color: #005ece;
    font-size: 52px;
    font-family: monospace;
  }

  &__content {
    font-family: Arial;
    margin: 18px 0 32px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: white;
    color: black;
    padding: 96px 84px;
    width: 804px;
    min-height: 600px;
    display: block;
    &::selection,
    *::selection {
      color: unset;
      background: lightsteelblue;
    }
  }
  &__footer {
    color: #005ece;
    margin: 18px 0 10px;
    font-size: 13px;
    & a {
      color: #005ece;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.tooltip {
  position: relative;

  & .bottom {
    min-width: fit-content;
    white-space: nowrap;
    height: 25px;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 4px 6px;
    color: #eeeeee;
    background-color: #00418f;
    font-size: 14px;
    position: absolute;
    font-weight: 600;
    z-index: 99999999;
    box-sizing: border-box;
    display: none;
  }
  &:hover .bottom {
    display: block;
  }
}

.margin-left {
  margin-left: 15px;
}
