@import "~normalize.css";

body {
  background: #aaa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.editor {
  background-color: #afafaf;
  width: 500px;
  height: 300px;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}
